<h1>All Departments</h1>

<div>

    <table>
        <tr>
            <th>Department Name</th>

        </tr>


        #foreach($department in $departments)
        <tr>
            <td>$department.getTitle()</td>

        </tr>
        #end



    </table>






</div>