<!DOCTYPE html>
<html>
<head>
    <title>Employee Records</title>
</head>
<body>
<!-- begin inner template-->
<a href="/">Home</a>
<a href="/employees">All Employees</a>
<a href="/managers">All Managers</a>
<a href="/engineers">All Engineers</a>
<a href="/departments">All Departments</a>
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->
</body>
</html>